---
import Layout from "../../layouts/Layout.astro";
import { Navbar } from "../../components/site/navbar";
import { Footer } from "../../components/site/footer";
import { LoginForm } from "../../components/auth/login-form";
---

<Layout title="Login | Tekana" description="Sign in to your Tekana account to connect with compatible partners.">
  <div class="flex min-h-screen flex-col relative">
    <Navbar client:load />
    <main class="flex-1">
      <div class="container mx-auto flex min-h-[calc(100vh-16rem)] items-center justify-center py-12">
        <div class="w-full max-w-md">
          <LoginForm client:load />
        </div>
      </div>
    </main>
    <Footer client:load />
  </div>
</Layout>
