---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/site/navbar";
import { Footer } from "../components/site/footer";
import { OnboardingPage } from "../components/onboarding/onboarding-page";
---

<Layout title="Onboarding | Tekana" description="Complete your profile registration.">
  <div class="flex min-h-screen flex-col relative">
    <Navbar client:load />
    <main class="flex-1">
      <OnboardingPage client:load />
    </main>
    <Footer client:load />
  </div>
</Layout>
